@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ddd;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Image/crazie.jpg);
}

.logo{
    font-family: serif;
    font-weight: bolder;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 20px;
}
.logo:hover {
    color: rgb(0, 255, 255);
}

nav ul {
    background-image: url(Image/crazie.jpg);

}

nav ul li {
    font-family: serif;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color: rgb(0, 255, 255);
}

input[type="checkbox"] {
    display: none;
}

#toggler {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    border: 1px solid #fff;
    display: none;
    text-align: center;
    padding-top: 1px;
}

#toggler:hover {
    color:  rgb(0, 255, 255);

}


#toggler span {
    font-family: serif;
}

#navbar-form {
    position: relative;
    display: inline-flex;
}

#search-form {
    display: inline-flex;
    width: 370px;
    height: 40px;
    position: absolute;
    right: 100%;
    transform: scale(0,0);
    transform-origin: center right;
    transition: 0.4s transform linear;
}

#search-bar {
    width: 290px;
    height: 40px;
    padding: 10px;
    color: #000;
    font-size: 18px;
}

#search-btn {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    background-color: rgb(31, 194, 235)
}

#search-form-opener {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

#search-form-closer {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

#box-2:checked ~ #search-form {
    transform: scale(1,1);
}

#box-2:checked ~ #search-form-opener {
    display: none;
}

#box-2:checked ~ #search-form-closer {
    display: flex;
}

@media (max-width:768px) {
    #toggler {
        display: flex;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: 0.8s ease-in-out;
        z-index: 19;
    }

    nav ul li {
        display: block;
        padding: 20px 0px;
    }

    #box-1:checked ~ ul {
        left: 0;
    }
}
/* Next Row */
.banner {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    background: center;
    border-top: 2px solid #00b7ff;
    border-bottom: 2px solid #00b7ff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.7);
}

/* Next Row */
.Pins {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    top: 300px;
    background: #333;
    height: 70px;
    padding-top: 15px;
}

.Pins h3 {
    text-transform: capitalize;
    padding-top: 4px;
    margin-left: 10px;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 25px;
}
@media (max-width:412px){
    .Pins {
        top: 366px;
    }
    .Pins h3 {
        margin-left: 19px;
    }
    
}

@media (max-width:1024px){
    .Pins {
        top: 225px;
    }
}

#navbar-form2 {
    position: relative;
    display: inline-flex;

}

#search-form2 {
    display: inline-flex;
    width: 370px;
    height: 30px;
    position: absolute;
    right: 100%;
    transform: scale(0,0);
    transform-origin: center right;
    transition: 0.4s transform linear;
}

#search-bar2 {
    width: 590px;
    height: 30px;
    padding: 10px;
    color: #000;
    font-size: 18px;
    position: relative;
    right: 200px;
}

#search-btn2 {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #00cccc;
    position: relative;
    right: 200px;
}

#search-form-opener2 {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

#search-form-closer2 {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    background-color: transparent;
    display: none;
}

#box-3:checked ~ #search-form2 {
    transform: scale(1,1);
}

#box-3:checked ~ #search-form-opener2 {
    display: none;
}

#box-3:checked ~ #search-form-closer2 {
    display: flex;
}

/* Divider */
.divider-back {
    background:transparent;
    height: 1px;
    position: relative;
    z-index: 10;
    top: 379px;
    text-align: center;
}
.divider {
    width: 300px;
    height: 2px;
    background: #00FFFF;
    display: inline-block;
    border-radius: 100%;
    padding-top: 4px;
    margin-top: 21px;
}

.divider-back a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
@media (max-width:412px){
    .divider {
      margin-left: 110px;
      width: 150px;
      position: relative;
      bottom: 44px;
      border-radius: 100%;
    }
}
@media (max-width:768px){
    .divider {
      margin-left: 140px;
      width: 150px;
      border-radius: 100%;
    }
}

@media (max-width:1024px){
    .divider {
      margin-left: 110px;
      width: 150px;
      position: relative;
      bottom: 190px;
      border-radius: 100%;
    }
}

/* Next Layer */
.gal-info {
    display: flex;
    position: relative;
    top: 30px;
}
.container {
    display: grid;
    height: 87vh;
    max-width: 72%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    background: #333;
    padding-left: 6px;
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 6px;
    margin:0;
    position: relative;
    top: 378px;
}
.container div {
    border: 1px solid black;
    margin: 2px;
}
video {
    height: 100%;
    object-fit: cover;
    object-position: center;
    outline: none;
}

@media (max-width:412px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 0.5fr));
        grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    }
    .gal-info {
        display: flex;

    }
}

@media (max-width:768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    }
}

@media (max-width:1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
    }
    .gal-info {
        display: flex;
        position: relative;
        top: -154px;
    }
}

#review-form {
    position: relative;
    z-index: 10;
    top: 378px;
    padding-left: 15px;
    color: #ddd;
    background: #333;
    width: 50%;
    padding-top: 15px;
}
.sh-input {
    width: 80%;
    outline: none;
    font-size: 18px;
    color: #000;
}

.lg-input {
    width: 80%;
    outline: none;
    font-size: 15px;
    height: 20vh;
    color: #000;
}
.s-button {
    width: 15vh;
    font-size: large;
    margin-left: 13vh;
    position: relative;
    top: 15px;
    background: #00FFFF;
    outline: none;
}
.s-button:hover {
    background: #00ccff;
}

@media (max-width:412px) {
    .s-button {
        margin-left: 30px;
        width: 9vh;
        font-size: 13px;
        top: 8px;

    }
    #review-form {
        margin-left: -30px;

    }
    #review-form h2{
        font-size: 13px;

    }
    #review-form h4{
        font-size: 13px;

    }
    .sh-input {
        width: 100%;
        outline: none;
        font-size: 13px;
        color: #000;
    }
    .lg-input {
        width: 100%;
        outline: none;
        font-size: 13px;
        height: 20vh;
        color: #000;
    }
}

/* Footer */
.container2 {
    max-width: 1170px;
    margin: auto;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: rgb(48, 45, 45);
    padding: 70px 0;
    width: 100%;
    position: relative;
    margin: 0;
    top: 408px;
}

.footer-col {
    width: 25%;
    height: 15%;
    font-size: small;
    padding: 10px;
}

.footer-col p {
    color: #bbb;
    margin-bottom: 6px;
}

.footer-col form input[type=submit] {
    background: #00FFFF;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #000;
    text-transform: capitalize;
    outline-style: none;
}

.footer-col form input[type=submit]:hover {
    background: #00ccff;
}

.footer-col form input[type=Email] {
    border: 3px solid #fff;
    outline-style: none;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00FFFF;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.footer-bottom-text {
    text-align: center;
    background-color: rgb(48, 45, 45);
    line-height: 50px;
    color: #bbb;
    position: relative;
    top: 70px;
    font-size: smaller;
    border-top: 1px solid #bbb;
}


@media(max-width: 768px){
    .footer-col {
        width: 100%;
    }
    .footer {
        top: 224px;
    }
}
@media(max-width: 1024px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer {
        top: 224px;
    }
}

@media(max-width: 412px){
    .footer-col {
        width: 100%;
    }
    .footer {
        top: 224px;
    }
}