*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background: black;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    background: #000;
    position: relative;
    justify-content: unset;
    height: 38px;
    border-bottom: 1px solid white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: #2B78E4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom:1px solid white;
    margin-top: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    text-transform: uppercase;
    background: #2B78E4;
    text-decoration: none;
}
#logo {
    height: 20px;
    display: flex;
    position: relative;
    right: 210px;
    bottom: 1px;
}
.form{
    display: flex;
}

.nav-links li {
    list-style: none;
    display: inline;
    background: #2B78E4;
}

.nav-links a {
    text-decoration: none;
    background: #2B78E4;
    color: #fff;
    border-bottom: 4px solid #2B78E4;
}

.nav-links a:hover {
    border-color: #19b3da;
}

.logo {
    color: #fff;
    display: flex;
    position: relative;
    left: 20px;
    height: 12px;
    font-size: 12px;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a:hover {
    color: #19b3da;
}

.search-box {
    background: #fff;
    border: none;
    position: relative;
    left: 50px;
    height: 20px;

}

.form {
    margin: 0;
    background: #fff;
}

input {
    border:none;
    outline: none;
    color: #000;
    width: 900px;
    background: #fff;
    padding-top: 1.5px;
}

button {
    background: white;
    border:none;
    outline: none;
}

i {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.shop-cart{
    height: 30px;
    position: relative;
    left: 60px;
    top: 4px;
    border-bottom: 2px solid #000;
}

.shop-cart:hover {
    border-color: #19b3da;
}



#subscribe h4 {
    text-decoration: none;
    background:#2B78E4;
    border: 2px solid #2B78E4;
    position: relative;
    left: 80px;
    width: 115px;
    border-radius: 5px;
    color: #fff;
    height: 26px;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
    height: 18px;
}
#subscribe h4 {
    border: none;
    border: transparent;

}

#subscribe {
    text-decoration: none;
}

#subscribe h4:hover {
    background: #19b3da;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.burger {
    background: #2B78E4;
    display: none;
}
@media screen and (max-width: 800px){
    input{
        width: 400px;
    }

    
  }
@media screen and (max-width: 1000px){
    body{
        display: none;
    }

    
  }
@media screen and (max-width: 1200px){
    .nav-links{
        width: 60%;
    }
    input{
        width: 700px;
    }
  }
/* No CSS *//*# sourceMappingURL=home.css.map */